.table td {
  background: #eeddee;

  display: inline-block;
  width: 60px;
  height: 30px;
  text-align: center;
  padding: 0;
  overflow: hidden;
  table-layout: fixed;
  vertical-align: middle;
}

.table.stats td {
  border: 1px solid #aaaaaa
}

.table.stats td.wide-range {
  width: 300px;
  text-align: left;
  padding-left:3px;
}
.prime-checker {
  width: 300px;
  height: 60px;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
}
